<div class="container-fluid">
  <app-navbar></app-navbar>
  
  
  <div class="offcanvas offcanvas-start text-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <img src="../../../assets/img/favicon_io/android-chrome-512x512.png" alt="Logo" width="60" height="auto" class="d-inline-block ">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">FILTRADO</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Aquí puedes filtrar por precio del combustible que desees. Además, también podrás hacerlo por provincia y municipio.
      </div>
      
      
      <div class="example-label-vertical">
        <label id="example-name-label" class="example-label-vertical">Max Valor</label>
        <mat-slider
          class="example-margin"
          [max]="3.5"
          [min]="minimoPosible"
          step="0.001"
          thumbLabel="true"
          vertical="vertical"
          [(ngModel)]="maximoPosible"
          aria-labelledby="example-name-label">
        </mat-slider>

        <label id="example-name-label" class="example-label-vertical">Min Valor</label>
        <mat-slider
          class="example-margin"
          [max]="maximoPosible"
          [min]="0"
          step="0.001"
          thumbLabel="true"
          vertical="vertical"
          [(ngModel)]="minimoPosible"
          aria-labelledby="example-name-label">
        </mat-slider>
      </div>
      
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="m-2">
    <button class="btn btn-primary mb-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      Abrir Filtrado
    </button>
    <div class="container-fluid">
      <div class="row gap-2 justify-content-around">
        <div *ngFor="let gas of gasList" style="width: 22rem;" class="card bg-light text-dark text-center col-3 border  border-primary border-3 rounded">
          <div  style="width: 100%;">
            <h5 class="card-header">{{gas['Rótulo']}}</h5>
            <img style="height: 20vh;" src="{{getImage(gas['Rótulo'])}}" class="card-img-top mt-1 rounded" alt="Logo">
            <div class="card-body rounded mt-2 "  style="background-color: rgba(128, 128, 128, 0.479);">
              <h6 class="card-title">{{gas['Dirección']}}</h6>
              <hr class="border border-primary border-2 opacity-75">
              <ul class="list-group list-group-flush">
                <li *ngIf="gas['Precio Gasoleo A']" class="list-group-item">Precio Gasóleo A: <span class="fw-bold">{{gas['Precio Gasoleo A']}}€</span></li>
                <li *ngIf="gas['Precio Gasoleo B']" class="list-group-item">Precio Gasóleo B: <span class="fw-bold">{{gas['Precio Gasoleo A']}}€</span></li>
                <li *ngIf="gas['Precio Gasoleo Premium']" class="list-group-item">Precio Gasóleo Premium: <span class="fw-bold">{{gas['Precio Gasoleo A']}}€</span></li>
                <li *ngIf="gas['Precio Gasolina 95 E10']" class="list-group-item">Precio Gasolina 95 E10: <span class="fw-bold">{{gas['Precio Gasolina 95 E10']}}€</span></li>
                <li *ngIf="gas['Precio Gasolina 95 E5']" class="list-group-item">Precio Gasolina 95 E5: <span class="fw-bold">{{gas['Precio Gasolina 95 E5']}}€</span></li>
                <li *ngIf="gas['Precio Gasolina 95 E5 Premium']" class="list-group-item">Precio Gasolina 95 E5 Premium: <span class="fw-bold">{{gas['Precio Gasolina 95 E5 Premium']}}€</span></li>
                <li *ngIf="gas['Precio Gasolina 98 E10']" class="list-group-item">Precio Gasolina 98 E10: <span class="fw-bold">{{gas['Precio Gasolina 98 E10']}}€</span></li>
                <li *ngIf="gas['Precio Gasolina 98 E5']" class="list-group-item">Precio Gasolina 98 E5: <span class="fw-bold">{{gas['Precio Gasolina 98 E5']}}€</span></li>
                <li *ngIf="gas['Precio Hidrogeno']" class="list-group-item">Precio Hidrógeno: <span class="fw-bold">{{gas['Precio Hidrogeno']}}€</span></li>
              </ul>
                <a href="#" style="width:100%;" class="btn btn-primary text-center">Detalles</a>
            </div>
          </div>       
        </div>
      </div>
    </div>
  </div>

  <div (click)="onActivate($event)">
    <div class="example-button-container">
      <button mat-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon>arrow_upward</mat-icon>
      </button>
    </div>
  </div>

  <mat-progress-spinner
    class="m-auto"
    color="warn"
    mode="indeterminate">
  </mat-progress-spinner>
</div>

