.example-button-container{
    position: fixed;
    float: right;
    cursor: pointer;
    right: 50px;
    bottom: 20px;
    z-index: 100;
    opacity: 0.9;
}

.example-margin {
    margin-left: 8px;
}

.mat-slider-vertical {
    height: 300px;
}
  
.example-label-container .example-label-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 68px;
    height: 48px;
  }
  
