<div class="container-fluid">
  <app-navbar></app-navbar>


  <div class="offcanvas offcanvas-start text-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <img src="../../../assets/img/favicon_io/android-chrome-512x512.png" alt="Logo" width="60" height="auto" class="d-inline-block ">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">FILTRADO</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Aquí puedes filtrar por precio del combustible que desees. Además, también podrás hacerlo por provincia y municipio.
      </div>
      <div class="w-100 mb-2 justify-content text-center rounded" >
        <select class="form-select" aria-label="Combustible">
          <option *ngFor="let item of combustibles" value="Combustible" (onSelectionChange)="getCombustible(item)">{{item}}</option>
        </select>
      </div>

      <div class="example-label-vertical d-flex m-auto">
        <label id="example-name-label" class="example-label-vertical fw-bold">Max</label>&nbsp;
        <label id="example-name-label" class="example-label-vertical fw-bold">{{maximoPosible}}€</label>
        <mat-slider
          class="example-margin"
          [max]="3.5"
          [min]="minimoPosible"
          step="0.001"
          thumbLabel="true"
          vertical="vertical"
          [(ngModel)]="maximoPosible"
          aria-labelledby="example-name-label">
        </mat-slider>

        <label id="example-name-label" class="example-label-vertical fw-bold">Min</label>&nbsp;
        <label id="example-name-label" class="example-label-vertical fw-bold">{{minimoPosible}}€</label>
        <mat-slider
          class="example-margin"
          [max]="maximoPosible"
          [min]="0"
          step="0.001"
          thumbLabel="true"
          vertical="vertical"
          [(ngModel)]="minimoPosible"
          aria-labelledby="example-name-label">
        </mat-slider>
      </div>
      <button class="btn btn-success d-grid d-md-block rounded-2 m-auto mt-4 fs-2 fw-bold text-light w-100" type="button" (click)="filtrado()">F i l t r a r</button>
    </div>
  </div>

  <div class="m-2">



    <div class="container-fluid">

      <button class="btn btn-primary mb-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Abrir Filtrado de precios
      </button>
      <mat-form-field appearance="fill" class="bg-light w-35 mb-2 ms-3 text-dark rounded d-inline-flex">
        <mat-label>Provincias</mat-label>
        <mat-select [formControl]="toppings" multiple>
          <mat-select-trigger class="text-dark">
            {{toppings.value?.[0] || ''}}
            <span *ngIf="(toppings.value?.length || 0) > 1" class="additional-selection text-dark">
              (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option (onSelectionChange)="postProvincia(item.Provincia)" *ngFor="let item of provinciasList" [value]="item.Provincia">{{item.Provincia}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="row gap-2 justify-content-around">
        <div *ngFor="let gas of gasFiltrado" style="width: 22rem;" class="card bg-light text-dark text-center col-3 border  border-primary border-3 rounded">
          <div  style="width: 100%;">
            <h5 class="card-header">{{gas['Rótulo']}}</h5>
            <img style="height: 22vh;" src="{{getImage(gas['Rótulo'])}}" class="card-img-top mt-1 rounded" alt="Logo">
            <div class="card-body rounded mt-2 "  style="background-color: rgba(128, 128, 128, 0.479);">
              <h6 class="card-title">{{gas['Dirección']}}</h6>
              <hr class="border border-primary border-2 opacity-75">
              <ul class="list-group list-group-flush">
                <li *ngIf="gas['Precio Gasoleo A']" class="list-group-item">Precio Gasóleo A: <span class="fw-bold">{{gas['Precio Gasoleo A']}}€</span></li>
                <li *ngIf="gas['Precio Gasoleo B']" class="list-group-item">Precio Gasóleo B: <span class="fw-bold">{{gas['Precio Gasoleo B']}}€</span></li>
                <li *ngIf="gas['Precio Gasoleo Premium']" class="list-group-item">Precio Gasóleo Premium: <span class="fw-bold">{{gas['Precio Gasoleo Premium']}}€</span></li>
                <li *ngIf="gas['Precio Gasolina 95 E10']" class="list-group-item">Precio Gasolina 95 E10: <span class="fw-bold">{{gas['Precio Gasolina 95 E10']}}€</span></li>
                <li *ngIf="gas['Precio Gasolina 95 E5']" class="list-group-item">Precio Gasolina 95 E5: <span class="fw-bold">{{gas['Precio Gasolina 95 E5']}}€</span></li>
                <li *ngIf="gas['Precio Gasolina 95 E5 Premium']" class="list-group-item">Precio Gasolina 95 E5 Premium: <span class="fw-bold">{{gas['Precio Gasolina 95 E5 Premium']}}€</span></li>
                <li *ngIf="gas['Precio Gasolina 98 E10']" class="list-group-item">Precio Gasolina 98 E10: <span class="fw-bold">{{gas['Precio Gasolina 98 E10']}}€</span></li>
                <li *ngIf="gas['Precio Gasolina 98 E5']" class="list-group-item">Precio Gasolina 98 E5: <span class="fw-bold">{{gas['Precio Gasolina 98 E5']}}€</span></li>
                <li *ngIf="gas['Precio Hidrogeno']" class="list-group-item">Precio Hidrógeno: <span class="fw-bold">{{gas['Precio Hidrogeno']}}€</span></li>
              </ul>
                <a href="#" style="width:100%;" class="btn btn-primary text-center">Detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div (click)="onActivate($event)">
    <div class="example-button-container">
      <button mat-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon>arrow_upward</mat-icon>
      </button>
    </div>
  </div>

  <mat-progress-spinner *ngIf="!boolGasFil"
    class="m-auto"
    color="warn"
    mode="indeterminate">
  </mat-progress-spinner>
</div>

