.example-button-container{
    position: fixed;
    float: right;
    cursor: pointer;
    right: 50px;
    bottom: 20px;
    z-index: 100;
    opacity: 0.9;
}

.example-margin {
    margin-left: 8px;
}

.mat-slider-vertical {
    height: 300px;
}

.card:hover img {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}